<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKey</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwOGQwZWVhNTdjMDBiZTZjY2Y2NDk2ZmM4MTMzYWQ1MiIsInN1YiI6IjY1MWU1MTc2NWIxMjQwMDBhZDY4MjAzNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.2GXzhK8p5DDL7ubfrHA78V_lDkhB-IHndhkeUJwOizM</string>
</dict>
</plist>
